body {
    background-color:rgb(177, 94, 94);
}
.sprawdzian {
    background-color: antiquewhite;
    border: 2px black;
    border-style: solid;
    border-radius: 10px;
    margin-bottom: 15px;
}
.sprawdzian_tekst {
    margin-left: 3%; 
    margin-top: 5px; 
    margin-bottom: 5px; 
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

article{
    background-color: lightblue;
    border: 2px black;
    border-style: solid;
    border-radius: 10px;
    margin-bottom: 15px;
}

.tekstartykulu{
    margin-left: 2%; 
    margin-top: 5px; 
    margin-bottom: 5px; 
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

.obraz{
    margin-left: 25%;
}







